{% extends 'base.html.twig' %}

{% block title %}Session storing form{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row align-items-center vh-100">
            <div class="col text-center">
                <h3>Registration complete</h3>
            </div>
        </div>
    </div>
{% endblock %}
